@mixin font {
  font-size: 20px;
  font-weight: 600;
  font-family: 'Pretendard Variable';
}

body {
  --border-color: #ddd; // 이렇게 최상위에서 html 변수로 두면 모두 접근 가능
  --item-height: 80px;

  background-image: linear-gradient(125deg, royalblue, brown);
  min-height: 100vh;
  padding: 70px 20px;
  box-sizing: border-box;
  color: #333;

  @include font;
}
input {
  @include font;
}
.shadow {
  box-shadow:
    4px 4px 14px rgba(#000, 0.1),
    4px 4px 50px rgba(#000, 0.2);
}
.todo-head {
  height: 60px;
  border-bottom: 1px solid var(--border-color);
  background-color: rgba(#fff, 0.9);
  position: relative;
  .the-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 24px;
    margin: auto;
  }
  .btn-group {
    height: 100%;
    display: flex;
    position: absolute;
    right: 0;
  }
}
